<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dataStandard.InvAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dataStandard.InvAddIn.Properties.Settings>
            <setting name="ConfigurationFile" serializeAs="String">
                <value>Inventor.cfg</value>
            </setting>
            <setting name="ConfigurationDirectory" serializeAs="String">
                <!-- *ComponentUpgradeEveryRelease-Client* -->
                <value>%CommonAppDataFolder%\Autodesk\Vault 2027\Extensions\DataStandard\CAD\Configuration</value>
            </setting>
            <setting name="DataStandardDirectory" serializeAs="String">
                <!-- *ComponentUpgradeEveryRelease-Client* -->
                <value>%CommonAppDataFolder%\Autodesk\Vault 2027\Extensions\DataStandard\{0}\UIStrings.xml</value>
            </setting>
            <setting name="EnableVaultNumSchemeForCmds" serializeAs="String">
              <value>AssemblyBonusTools_AddPartCmd, AssemblyBonusTools_AddAssemblyCmd, AFG_CMD_ChangeProfile, InteractionEvents, AssemblyMirrorComponentCmd, PartMakePartCmd, PartMakeComponentsCmd</value>
            </setting>
            <setting name="DisableVdsForCmds" serializeAs="String">
                <value>
                  AssemblyBonusTools_AddPartCmd, AssemblyBonusTools_AddAssemblyCmd,
                  Factory.AssetBuilder.AssetEditSave, Factory.AssetBuilder.FinishPublisher, Factory.AssetBuilder.GenerateFromModel, Factory.Layout.SendToAutoCAD,
                  AFG_CMD_ChangeProfile,
                  AssemblyMirrorComponentCmd,
                  InteractionEvents,CCV2EditorButton,
                  PartMakeComponentsCmd,PartMakePartCmd
                </value>
            </setting>
        </dataStandard.InvAddIn.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
